body {
  margin: 0;
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: row;
}

.sidebar {
  min-height: 100vh;
  min-width: 12em;
  width: 28%;
  border-right: solid black 1px;
  background: #e5fdff;
  padding: 1em;
}

.sidebar > button {
  width: 100%;
}

.container {
  max-width: 30em;
  margin: auto;
}

.container > div {
  border-bottom: solid 1px grey;
  padding-bottom: 1em;
  min-width: 20em;
}

.container > div > button {
  min-width: 4em;
}

form.new-movie-form {
  border: solid black 1px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

form.new-movie-form > input,
form.new-movie-form > textarea {
  font-size: 1em;
  font-family: sans-serif;
  margin-bottom: 0.5em;
}

input[type="submit"],
button {
  font-weight: bold;
  font-size: 1em;
  background: #04e8ff;
  border: solid black 1px;
  padding: 0.5em;
  cursor: pointer;
}
